.banner {
	width: 100%;
	height: 300px;
	background-image: url('../media/blackboard.jpg');
	box-shadow: 0px 2px 10px rgba(30, 30, 30, 0.8);
	margin-bottom: 20px;
}
.bannertext {
	width: 100%;
	text-align: center;
	color: rgba(200, 200, 200, 0.8);
	margin-top: 10%;
	position: absolute;
	font-style: bolder;
	font-size: 100px;
}
.hidden {
	display:none;
}
.formfield {
	width: 90%;
}
.centered {
	margin-left: 25%;
	width: 50%;
}