<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="static/css/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">uClickr</a> |
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/student">Student</a></li>
    <li><a class="nav navbar-nav" href="/prof">Prof</a></li>
  </ul>
</div>
</nav>

<body>
<div class="banner">
  <div class="bannertext">
  {% block bannertext %}
    FREE THE CLASSROOM
  {% endblock %}
  </div>
</div>
{% block body %}
{% endblock %}
</body>

<footer>
{% block footer %}
{% endblock %}
</footer>
</html>