{% extends 'base.html' %}

{% block bannertext %}
	<div id="profnamebanner">Welcome, Professor</div>
{% endblock %}

{% block body %}
<div class="col-xs-6 well bs-component centered shadowed" id="js-login-div">
	<form class="form-horizontal">
		<input id="login-field" class="formfield" type="text" placeholder="What is your name, monseiur?" name="name">
		<input id="class-field" class="formfield" type="text" placeholder="What class are you terrorizing the young minds with today?" name="class_label">
		<input id="login-submit" type="submit">
	</form>
</div>
<div class="col-xs-6 well bs-component centered shadowed" id="js-active-div">
	<form class="form-horizontal" id="qform">
		<input class="formfield" type="text" placeholder="Question?" name="question">
		<div id="js-new">
		<input type="text" class="formfield" placeholder="Correct Answer!" name="correct">
		</div>
		<button id="js-add-question" class="btn btn-default btn-xs">Add</button>
		<input type="submit" class="btn btn-default btn-xs" id="js-submit-question" value="Lock n' Load!">
	</form>
	<div id="js-questions">
	</div>
</div>
{% endblock %}

{% block footer %}
<script>
	$(document).on('click','.activatebutton',function(e){
		e.preventDefault();
		console.log('clicking' + $(this).attr('data-id'));
							$(this).removeClass('activatebutton btn-primary');
					$(this).addClass('deactivatebutton btn-danger');
					$(this).text('Deactivate');
		$.ajax({
				url: "activate/" + $(this).attr('data-id') + '/',
				success: function(resp) {
					console.log('success')
				},
				error: function() {
					alert('shit!');
				}
			});
		return false;
	});
	$(document).on('click','.deactivatebutton',function(e){
		e.preventDefault();
		console.log('clicking' + $(this).attr('data-id'));
		$(this).addClass('activatebutton btn-primary');
		$(this).removeClass('deactivatebutton btn-danger');
		$(this).text('Activate');
		$.ajax({
				url: "deactivate/" + $(this).attr('data-id') + '/',
				success: function(resp) {
				},
				error: function() {
					alert('shit!');
				}
			});
		return false;
	});
	$(function() {
		var count = 0;
		var addButton = $("#js-add-question");
		var jsnew = $("#js-new");
		var loginButton = $("#login-submit");
		var loginField = $("#login-field");
		var classField = $("#class-field");
		var loginForm = $("#js-login-div");
		var questions = $("#js-questions");
		var activeDiv = $("#js-active-div");
		var profnamebanner = $("#profnamebanner");
		var submitQuestion = $("#js-submit-question");
		var prof_name = "";
		var class_label = "";
		var qform = $("#qform");

		activeDiv.hide();

		addButton.click(function(e){
			e.preventDefault();
			if (count > 3) {return;}
			count++;
			var letter = String.fromCharCode(96 + count).toUpperCase();
			var newOption = $("<input type='text' class='option formfield' placeholder='Option " + letter + "' name='options' >");
			jsnew.append(newOption);
		});

		loginButton.click(function(e){
			e.preventDefault();
			$.ajax({
				url: "prof/" + loginField.val() + '/' + classField.val() + '/',
				success: function(resp) {
					showQuestions(resp);
				},
				error: function() {
					alert('shit!');
				}
			});
		});

		function showQuestions(resp) {
			console.log(resp.class);
			profnamebanner.text("Welcome, " + resp.prof_name);
			prof_name = resp.prof_name;
			class_label = resp.class;
			loginForm.hide();
			activeDiv.show();
			for (i = 0; i < resp.questions.length; i++) {
				var q = $("<div class='question'>" + resp.questions[i] + "<form ><input data-id='" + resp.question_ids[i].toString() + "' type='submit' value='Activate' class='activatebutton btn btn-primary btn-sm'></input></form></div>");
			questions.append(q);
			}
		}

		submitQuestion.click(function(e) {
			e.preventDefault();
			var data = qform.serialize();
			console.log(data);
			console.log(class_label);
			$.ajax({
				type:"POST",
				url: "prof/" + prof_name + "/" + class_label + "/posting" + "?" + data,
				contentType: "application/json",
				data: JSON.stringify(data),
				success: function(r) {
					console.log(r);
					qform[0].reset();
					addQuestion(r.question_text, r.question_id);
				},
				error: function(e) {
					alert('oh shit');
				}
			});
		});

		function addQuestion(text, id) {
			var q = $("<div class='question'>" + text + "<form ><input data-id='" + id.toString() + "' type='submit' value='Activate' class='activatebutton btn btn-primary btn-sm'></input></form></div>");
			questions.append(q);
		}

	});
</script>
{% endblock %}