{% extends 'base.html' %}

{% block bannertext %}
	<div id="profnamebanner">Welcome, Professor</div>
{% endblock %}

{% block body %}
<div class="col-xs-6 well bs-component centered shadowed" id="js-login-div">
	<form class="form-horizontal">
		<input id="login-field" class="formfield" type="text" placeholder="What is your name, monseiur?" name="name">
		<input id="class-field" class="formfield" type="text" placeholder="What class are you terrorizing the young minds with today?" name="class_label">
		<input id="login-submit" type="submit">
	</form>
</div>
<div class="col-xs-6 well bs-component centered shadowed" id="js-active-div">
	<form class="form-horizontal">
		<input class="formfield" type="text" placeholder="Question?" name="question">
		<div id="js-new">
		<input type="text" class="option formfield" placeholder="Option A">
		</div>
		<button id="js-add-question">Add</button>
		<input type="submit" value="Lock n' Load!">
	</form>
	<div id="js-questions">
	</div>
</div>
{% endblock %}

{% block footer %}
<script>
	$(function() {
		var count = 0;
		var addButton = $("#js-add-question");
		var jsnew = $("#js-new");
		var loginButton = $("#login-submit");
		var loginField = $("#login-field");
		var classField = $("#class-field");
		var loginForm = $("#js-login-div");
		var questions = $("#js-questions");
		var activeDiv = $("#js-active-div");
		var profnamebanner = $("#profnamebanner");

		activeDiv.hide();

		addButton.click(function(e){
			e.preventDefault();
			if (count > 3) {return;}
			count++;
			var letter = String.fromCharCode(97 + count).toUpperCase();
			var newOption = $("<input type='text' class='option formfield' placeholder='Option " + letter + "''>");
			jsnew.append(newOption);
		});

		loginButton.click(function(e){
			e.preventDefault();
			$.ajax({
				url: "prof/" + loginField.val() + '/' + classField.val() + '/',
				success: function(resp) {
					showQuestions(resp);
				},
				error: function() {
					alert('shit!');
				}
			});
		});

		function showQuestions(resp) {
			console.log(resp.prof_name);
			profnamebanner.text("Welcome, " + resp.prof_name);
			loginForm.hide();
			activeDiv.show();
			questions.append(resp.questions);
		}

	});
</script>
{% endblock %}