{% extends 'base.html' %}


{% block bannertext %}
	<div id="profnamebanner">CLASSROOM THE FREE</div>
{% endblock %}

{% block body %}
<form class="form-horizontal centered shadowed" id="js-login-div">
		<input id="login-field" class="formfield" type="text" placeholder="What is your name, young one?" name="name">
		<input id="class-field" class="formfield" type="text" placeholder="Which horrid class are you embarking upon today?" name="class_label">
		<input id="login-submit" type="submit">
</form>
<div class="col-xs-6 well bs-component centered shadowed" id="js-active-div">
	<div class="newquestions" id="js-new-questions"></div>
	<div id="js-old-questions"></div>
</div>
{% endblock %}

{% block footer %}
<script src="static/js/reconnecting-websocket.min.js"></script>
<script src="static/js/socket.js"></script>
<script src="static/js/student.js"></script>
{% endblock %}